/*=========================================================
PAGE CONTACT
==========================================================*/

.con-body {
    height: 100vh;
    background-color: #FAFAFA;
    color: var(--color-dark-blue);
    display: flex;
    flex-direction: column;
}

.con-main {
    margin-bottom: auto;
}

.con-content {
    width: 460px;
    display: flex;
    flex-direction: column;
}

.con-content h2 {
    text-align: center;
}

.con-description {
    margin: 20px 200px 20px 200px;
    text-align: center;
}

.con-position {
    width: 1000px;
    display: flex;
    justify-content: space-between;
}

.con-form {
    display: flex;
    justify-content: space-between;
}

.con-field > label {
    position: absolute;
    top: -1000em;
}

.con-field > input, textarea {
    background-color: #FAFAFA;
    margin: 15px 0 15px 0;
    border-width: 0px 0px 1px 0px;
    padding: 2px 0 2px 0;
}

.con-separator {
    height: 536px;
    margin: 9px 39px 9px 39px;
}

.con-form-validate {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.short-input {
    width: 220px;
}

.long-input {
    width: 460px;
}

.con-info {
    display: flex;
    margin: 15px 10px 15px 10px;;
}

.con-info img {
    margin-right: 20px;
}

.con-alert {
    display: flex;
    align-items: center;
    border-left-style: solid;
    border-top-style: none;
    border-bottom-style: none;
    border-right-style: none;
    
}

.fas {
    margin: auto 20px auto 20px;
    font-size: 25px;
}

.con-error {
    background-color: #FFDCB7;
    color: #E67D00;
    padding: 10px;
}

.con-error-icon {
    display: flex;
    height: 100%;
}

.con-error-text {
    margin: auto 20px auto 20px;
}

.con-success {
    background-color: #B6F2A3;
    color: #208700;
}

/* responsive */

@media screen and (min-width: 1261px) {
}

@media screen and (max-width: 1260px) {
    .con-position {
        margin: 5em auto auto auto;
    }
    .con-content {
        width: 380px;
    }
    .short-input {
        width: 180px;
    }
    .long-input {
        width: 380px;
    }
    .con-separator {
        margin: 9px 19px 9px 19px;
    }
    .con-description {
        margin: 20px 100px 20px 100px;
    }
}

@media screen and (max-width: 860px) {
    .con-position {
        margin: auto;
        width: 600px;
        flex-direction: column;
    }
    .con-separator {
        display: none;
    }
    .con-content {
        width: 600px;
        height: auto;
        margin: 2em 0 2em 0;
    }
    .short-input {
        width: 280px;
    }
    .long-input {
        width: 600px;
    }
}

@media screen and (max-width: 680px) {
    .con-position {
        width: 470px;
    }
    .con-content {
        width: 470px;
    }
    .short-input {
        width: 230px;
    }
    .long-input {
        width: 470px;
    }
    .con-description {
        width: 470px;
        margin: 20px auto 20px auto;
    }
}

@media screen and (max-width: 530px) { 
    .con-form {
        flex-direction: column;
    }
    .con-position {
        width: 370px;
    }
    .con-content {
        width: 370px;
    }
    .short-input, .long-input {
        width: 370px;
    }
    .con-description {
        width: 370px;
        margin: 20px auto 20px auto;
    }
    .con-info img {
        margin-right: 20px;
    }
}

@media screen and (max-width: 410px) { 
    .con-position {
        width: 310px;
    }
    .con-content {
        width: 310px;
        margin: 0 10px 0 10px;
    }
    .short-input, .long-input {
        width: 310px;
    }
    .con-description {
        width: 310px;
        margin: 20px auto 20px auto;
    }
}

@media screen and (max-width: 320px) {
    .con-position {
        width: 280px;
    }
    .con-content {
        width: 280px;
        margin: 0 10px 0 10px;
    }
    .short-input, .long-input {
        width: 280px;
    }
    .con-description {
        width: 280px;
        margin: 20px auto 20px auto;
    } 
}