/*=========================================================
PAGES PROJETS
==========================================================*/

.pro-description {
    width: 800px;
    margin: auto;
}

.pro-description p {
    text-align: center;
}

.pro-description ul {
    padding: 0;
}

.pro-description ul li {
    font-family: 'Open Sans', sans-serif;
}

.pro-cta {
    margin: auto;
}

.pro-nav {
    text-align: center;
    margin: 25px 0 25px 0;
}

.pro-details {
    width: 800px;
    display: flex;
    line-height: 25px;
    justify-content: space-around;
}

.pro-detail {
    margin: 20px;
    width: 290px;
    padding: 10px;
    background-color: white;
    box-shadow: -2px 2px 2px 1px var(--color-shadow);
    border-radius: 25px;

}

.pro-detail p {
    text-align: center;
    font-weight: 600;
}

.pro-details li {
    margin: 0px 10px 0px 10px;
    line-height: 35px;
}

.pro-details li::marker {
    font-size: 30px;
}

/* responsive */

@media screen and (min-width: 1261px) {
}

@media screen and (max-width: 1260px) {
    main, .pro-mockup{
        width: 800px;
    }
}

@media screen and (max-width: 860px) {
    main, .pro-mockup{
        width: 600px;
    }
    .pro-description {
        width: 600px;
    }
    .pro-details {
        width: 600px;
    }
    .pro-detail {
        width: 400px;
    }
}

@media screen and (max-width: 680px) {
    main, .pro-mockup{
        width: 470px;
    }
    .pro-description {
        width: 470px;
    }
    .pro-details {
        width: 470px;
        flex-direction: column;
        align-items: center;
    }
    .pro-detail {
        width: 300px;
    }
}

@media screen and (max-width: 530px) { 
    .pro-description {
        width: 370px;
    }
    main, .pro-mockup{
        width: 370px;
    }
    .pro-details {
        width: 370px;
    }
}

@media screen and (max-width: 410px) { 
    .pro-description {
        width: 310px;
    }
    main, .pro-mockup{
        width: 310px;
    }
    .pro-details {
        width: 310px;
    }
    .pro-detail {
        width: 280px;
    }
}

@media screen and (max-width: 320px){ 
    .pro-description {
        width: 280px;
    }
    main, .pro-mockup{
        width: 280px;
    }
    .pro-details {
        width: 280px;
    }
    .pro-detail {
        width: 240px;
    }
}