/*=========================================================
COULEURS
==========================================================*/

:root {
    --color-blue: #037BC4;
    --color-dark-blue: #010f18;
    --color-background: #FAFAFA;
    --color-white: white;
    --color-shadow: rgba(180, 180, 180, 50%);
}

/*=========================================================
CUSTOM SCROLL BAR
/!\ A CHANGER, pas compatible avec tous les navigateurs
==========================================================*/

::-webkit-scrollbar-track {
    background-color: var(--color-shadow);
}

::-webkit-scrollbar {
    height: 6px;
    width: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-blue);
    border-radius: 8px;
}

/*=========================================================
CSS COMMUN
==========================================================*/

body {
    background-color: var(--color-background);
    color: var(--color-dark-blue);
    display: flex;
    flex-direction: column;
}

main {
    max-width: 1000px;
    margin: 51px auto auto auto;
}

h1 {
    font-family: 'El Messiri', sans-serif;
    font-size: 70px;
    text-align: center;
    margin: 40px 0 25px 0;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    font-weight: 300;
    font-style: italic;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 400;
}

p, label, input, textarea, li {
    font-family: 'Open Sans', sans-serif;
    line-height: 25px;
    list-style: none;
}

input:focus, textarea:focus {
    outline: 0;
}

ul {
    padding: 0;
}

a, button {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: var(--color-dark-blue);
    font-weight: 500;
}

a:hover {
    color: var(--color-blue);
    transition-duration: 0.3s
}

.cta {
    background-color: var(--color-blue);
    color: var(--color-white);
    width: 160px;
    height: 40px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--color-blue);
    box-shadow: 0 1px 3px 1px var(--color-shadow);
    cursor: pointer;
}

.cta:hover {
    background-color: var(--color-white);
    color: var(--color-blue);
    transition-duration: 0.5s
}