/*=========================================================
COULEURS
==========================================================*/

:root {
    --color-blue: #037BC4;
    --color-dark-blue: #010C13;
    --color-background: #FAFAFA;
    --color-white: white;
    --color-shadow: rgba(180, 180, 180, 50%);
}

/*=========================================================
CUSTOM SCROLL BAR
/!\ A CHANGER, pas compatible avec tous les navigateurs
==========================================================*/

::-webkit-scrollbar-track {
    background-color: var(--color-shadow);
}

::-webkit-scrollbar {
    height: 6px;
    width: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-blue);
    border-radius: 8px;
}

/*=========================================================
CSS COMMUN
==========================================================*/

body {
    background-color: var(--color-background);
    color: var(--color-dark-blue);
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: 'El Messiri', sans-serif;
    font-size: 70px;
    text-align: center;
    margin: 40px 0 40px 0;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    font-weight: 300;
    font-style: italic;
    margin: 10px 0 10px 0;
}

a, button {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: var(--color-dark-blue);
    font-weight: 500;
}

a:hover {
    color: var(--color-blue);
}

a:active {
    color: var(--color-blue);
}

p, label, input, textarea {
    font-family: 'Open Sans', sans-serif;
    line-height: 25px;
}

input:focus, textarea:focus {
    outline: 0;
}

li {
    list-style: none;
}

main {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 51px;
}

.m-position {
    width: 1000px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cta {
    background-color: var(--color-blue);
    color: var(--color-white);
    width: 160px;
    height: 40px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--color-blue);
    box-shadow: 0 1px 3px 1px var(--color-shadow);
    cursor: pointer;
}

.cta:hover {
    background-color: var(--color-white);
    color: var(--color-blue);
    transition-duration: 0.5s
}

/*=========================================================
CSS INCLUDE HEADER
==========================================================*/

header {
    background-color: var(--color-white);
    box-shadow: 0px 1px 2px  var(--color-shadow);
    position: fixed;
    width: 100%;
}

.h-header {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
}

.h-logo {
    margin-bottom: -3px;
}

.h-nav {
    width: 500px;
}

.h-nav ul {
    display: flex;
    justify-content: space-between;
}

.italic {
    font-style: italic;
}

/*=========================================================
CSS INCLUDE BURGER-MENU
==========================================================*/

#h-mobile {
    background-color: var(--color-white);
    text-align: center;
    display: none;
}

#h-mobile ul li {
    margin: 40px;
}

#icone-burger {
    display: none;
    background-color: var(--color-white);
    color: var(--color-blue);
    border: none;
    outline-style:none;
    cursor: pointer;
}

.fa-bars {
    font-size: 25px;
}

.fa-times {
    font-size: 25px;
}

/*=========================================================
RESPONSIVE INCLUDE HEADER BURGER-MENU
==========================================================*/

@media screen and (min-width: 1261px) {
    #h-mobile {
        display: none;
    }
}

@media screen and (max-width: 1260px) {
    .m-position {
        max-width: 800px;
    }
    h1 {
        font-size: 50px;
    }
    h2 {
        font-size: 30px;
    }
    .h-header {
        max-width: 800px;
    }
    #h-mobile {
        display: none;
    }
    #icone-burger {
        display: none;
    }
}

@media screen and (max-width: 860px) {
    .h-header {
        max-width: 470px;
        margin: 5px auto 5px auto;
    }
    .h-nav {
        display: none;
    }
    #icone-burger {
        display: block;
        /* z-index: 3; */
    }
    #h-mobile {
        display: block;
        width: 100%;
        transform: translate(-100%);
        position: fixed;
        background-color: var(--color-white);
        box-shadow: 0px 1px 2px  var(--color-shadow);
        margin-top: 51px;
        /* z-index: 2; */
    }
    #h-mobile.open {
        /* transition: 1s; */
        transform: translate(0);
    }
}

@media screen and (max-width: 530px) { 
    .h-header {
        max-width: 370px;
    }
}

@media screen and (max-width: 410px) { 
    .h-header {
        max-width: 310px;
    }
}

@media screen and (max-width: 320px){ 
    .h-header {
        max-width: 290px;
    }
}


/*=========================================================
CSS INCLUDE FOOTER
==========================================================*/

.f-footer {
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    margin-top: 40px;
}

.f-socialnetworks {
    width: 140px;
    display: flex;
    justify-content: space-between;
}

.f-icon {
    display: flex;
    height: 40px;
    width: 40px;
    background-color: var(--color-blue);
    border-radius: 50%;
    box-shadow: 0 1px 3px 1px var(--color-shadow);
    justify-content: center;
}

.f-icon:hover {
    background-color: var(--color-blue); /* Trouver une couleur ou changer la couleur des icones */
    transition-duration: 0.7s
}

.f-icon-position {
    display: flex;
}

/*=========================================================
RESPONSIVE INCLUDE FOOTER
==========================================================*/

@media screen and (min-width: 1261px) {

}

@media screen and (max-width: 1260px) {
    .f-footer {
        max-width: 800px;
    }
}

@media screen and (max-width: 860px) {
    .f-footer {
        flex-direction: column;
        margin: 20px auto 20px auto;
        max-width: 470px;
    }
    .m-position {
        max-width: 470px;
    }
}

@media screen and (max-width: 530px) { 
    .f-footer {
        flex-direction: column;
        margin: 10px auto 10px auto;
        max-width: 370px;
    }
    .f-text {
        text-align: center;
    }
}

@media screen and (max-width: 410px) { 
    .f-footer {
        max-width: 310px;
    }
    h1 {
        font-size: 40px;
    }
    h2 {
        font-size: 26px;
    }
    .m-position {
        max-width: 300px;
    }
}

@media screen and (max-width: 320px){ 
    .f-footer {
        max-width: 290px;
    }
}