/*=========================================================
PAGE REALISATIONS
==========================================================*/

.rea-project {
    display: flex;
    margin: 0 0 70px 0;
}

.rea-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 10px;
}

.rea-picture {
    margin: 10px;
}

.rea-img {
    border-radius: 25px;
}

.rea-cta {
    margin: 10px 0 10px 0;
}