/*=========================================================
PAGE PRESENTATION
==========================================================*/

.pre-body {
    height: 100vh;
}

.pre-main {
    margin: auto;
}

.pre-content {
    width: 470px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pre-position {
    width: 1000px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pre-name {
    margin: 20px 0 5px 0;;
}

.pre-description {
    margin: 30px 0 30px 0;
}

.pre-contact {
    margin: 15px 0 0 0;
}

.pre-photo {
    width: 470px;
}

/* --- Responsive --- */

@media screen and (min-width: 1261px) {
    #pre-mobile {
        display: none;
    }
}

@media screen and (max-width: 1260px) {
    #pre-mobile {
        display: none;
    }
    .pre-content {
        max-width: 380px;
    }
    .pre-photo {
        width: 380px;
    }
    .pre-position {
        max-width: 800px;
    }
}

@media screen and (max-width: 860px) {
    .pre-body {
        height: 100%;
    }
    .pre-main {
        margin: 71px auto 31px auto;
    }
    #pre-desktop {
        display: none;
    }
    #pre-mobile {
        display: flex;
        flex-direction: column;
    }
    .pre-content {
        max-width: 600px;
    }
    .pre-content-mobile {
        display: flex;
        flex-direction: row;
    }
    .pre-photo {
        width: 235px;
    }
    h2 {
        margin: 20px 0 20px 0;
    }
    .pre-description {
        margin: 20px 0 20px 0;
    }
    .pre-contact {
        margin: 20px 0 0 0;
    }
    .pre-position {
        max-width: 600px;
    }
}

@media screen and (max-width: 680px) {
    .pre-position {
        width: 470px;
    }
    .pre-content {
        max-width: 470px;
    }
}

@media screen and (max-width: 530px) { 
    .pre-content-mobile {
        flex-direction: column-reverse;
    }
    .pre-photo {
        width: 200px;
    }
    .pre-content {
        max-width: 370px;
    }
    .pre-position {
        max-width: 370px;
    }
}

@media screen and (max-width: 410px) { 
    .pre-content {
        max-width: 310px;
    }
    .pre-position {
        max-width: 310px;
    }
}

@media screen and (max-width: 320px){ 
    .pre-content {
        max-width: 280px;
    }
}

