/*=========================================================
PAGE COMPETENCES
==========================================================*/

.competences {
    margin-top: 70px;
    margin-bottom: 70px;
}

.com-cards {
    display: flex;
    justify-content: center;
    width: 1000px;
}

.com-card {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    width: 400px;
    height: 200px;
    background-color: white;
    box-shadow: -2px 2px 2px 1px var(--color-shadow);
    margin: 30px;
    border-radius: 25px;
    padding: 10px;
}

.com-card img {
    margin: 0 10px 0 0;
}

.com-card p {
    margin: 0 0 0 10px;
    font-size: 20px;
}

/* --- Responsive --- */

@media screen and (min-width: 1261px) {
}

@media screen and (max-width: 1260px) {
    .competences {
        width: 800px;
        margin: 70px auto 70px auto;
    }
    .com-cards {
        width: 800px;
    }
    .com-card {
        width: 350px;
        height: 150px;
    }
    .com-card img {
        width: 150px;
    }
    .com-card p {
        font-size: 18px;
    }
}

@media screen and (max-width: 860px) {
    .competences {
        width: 600px;
        margin: 70px auto 70px auto;
        text-align: center;
    }
    .com-cards {
        width: 600px;      
    }
    .com-card {
        width: 200px;
        height: 250px;
        flex-direction: column;
    }
    .com-card img {
        width: 160px;
        margin: 0;
    }
    .com-card p {
        font-size: 18px;
        margin: 0;
    }
}

@media screen and (max-width: 680px) {
    .competences {
        width: 470px;
        margin: 70px auto 70px auto;
    }
    .com-cards {
        width: 470px;
    }
    .com-card {
        margin: 15px;
    }
}

@media screen and (max-width: 530px) { 
    .competences {
        width: 370px;
        margin: 70px auto 70px auto;
    }
    .com-cards {
        width: 370px;
    }
    .com-card {
        width: 170px;
        height: 200px;
    }
    .com-card img {
        width: 110px;
    }
    .com-card p {
        font-size: 16px;
    }
}

@media screen and (max-width: 410px) { 
    h1{
        font-size: 40px;
    }
    .competences {
        width: 310px;
        margin: 40px auto 40px auto;
    }
    .com-cards {
        width: 310px;
    }
    .com-card {
        margin: 10px;
        height: 190px;
    }
    .com-card img {
        width: 90px;
    }
}

@media screen and (max-width: 320px){ 
    h1 {
        margin: 40px 10px 40px 10px;
    }
    .competences {
        width: 280px;
        margin: 30px auto 30px auto;
    }
    .com-cards {
        width: 280px;
    }
    .card {
        width: 150px;
        height: 220px;
        margin: 15px;
    }
    .card {
        margin: 8px;
    }
}
